* {
  border: 0px dashed blue;
}
html {
  position: relative;
  min-height: 100%;
  letter-spacing: 1.5px;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-family: "Times New Roman"; 
}
.container {
  width: 100%;
  padding: 0;
}
.row {
  margin: 0;
}
.test1 {
  height: 100vh;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 50px;
}
nav {
  border-bottom: 1px solid #F5F5F5;
  background-color: #fff;
}
.logo {
  font-family: "Jaapokki-regular"
}
.marketing-panel {
  max-width: 960px;
  margin: 0 auto; 
}
.top-marketing-text, .bottom-marketing-text {
  font-size: 67px;
  letter-spacing: 1.5px
}
.top-marketing-text {
  margin-top: 180px;
  font-weight: bold;
}
.login-menu {
  border-left: 1px solid #F5F5F5;
  position: relative;
}
.login-btn {
  text-align: center;
  padding-top: 7px;
  margin-bottom: 25px;
}
.login-btn, .top-marketing-text {
  color: #134AC0;
}
.login-btn, .sign-up-btn {
  font-size: 18px;
}
.top-spacing {
  margin-top:40px;
}
.sign-up-btn {
  padding: 7px 35px;
  background-color: transparent;
  border: 3px solid #1C3451;
}
.site-credits {
  float: right;
  margin-right: 30px;
}
.sign-up-form {
  margin-top: 20px;
}
.sign-up-input {
  border: 3px solid #F5F5F5;
  height: 35px;
  width: 180px;
  padding-left: 10px;
}
.sign-up-input:focus, .login-sign-up-btn {
  outline: 2px solid #134AC0;
}
.sign-up-btn:focus, .search-bar:focus {
  outline: none;
}
.login-sign-up-btn {
  background-color: transparent;
  padding: 5px 25px;
  margin-left: 20px;
  color: #134AC0;
}
.search-bar {
  width: 100%;
  height: 70px;
  border-left: 1px solid #F5F5F5;
  padding-left: 20px;
  font-size: 18px;
  color: #134AC0;
}
::-webkit-input-placeholder {
  color: #134AC0;
  opacity: 0.4;
}
.logo-profile {
  font-family: "Jaapokki-regular";
  text-align: center;
}
.nav-tabs {
  border-bottom: 1px solid #F5F5F5;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
  border: 0;
  border-bottom: 1px solid #134AC0;
  color: #134AC0;
}
.nav-tabs>li>a:hover {
  border-color: transparent;
  border-bottom: 1px solid #16d4d9;
  color: #16d4d9;
}
.nav-tabs>li>a {
  border: 0;
}
.nav>li>a:hover {
  background-color: transparent;
}
.nav-tabs > li, .nav-pills > li {
  float:none;
  display:inline-block;
  *display:inline; /* ie7 fix */
   zoom:1; /* hasLayout ie7 trigger */
}
.nav-tabs, .nav-pills {
    text-align:center;
}
.tab-content>.active {
  text-align: center;
  margin-top: 20px;
}
.test3 {
  text-align: center;
  height: 650px;
  background-color: #2F466B;
  color: #fff;
}
.learn-more-text, .button-singup {
  text-align: center;
  margin-top: 40px;
}
.carousel {
  margin-top: 30px;
}
.carousel-control.left, .carousel-control.right {
  background-image: none;
}
.carousel-control {
  width: 45%;
}
.carousel-indicators {
  bottom: -37px;
}
.button-singup {
  margin-top: 20px;
  margin-bottom: 20px;
}
.demo {
  margin-top: 30px;
  font-size: 20px;
  text-transform: uppercase;
  color: #fff;
}




