<div class="container">

 <nav> 
  <div class="row">
    <div ng-controller="signupCtrl">
      <script type="text/ng-template" id="myModalContent.html">
          <h3>Sign Up</h3>
          <form>
            <input type="text" placeholder="Email"><br>
            <input type="Password" placeholder="Password"><br>
          </form>
          <button ng-click="ok()">Sign In</button>
          <button ng-click="cancel()">Cancel</button>        
      </script>
      <div class='col-md-11'>
        <h1>Mark</h1>  
      </div>
      <div class='col-md-1 login-menu'>
        <h1 class="login-btn"ng-click="open()">Login</h1>    
      </div>
    </div> 
  </div> <!-- end of row -->
 </nav>   

  <div class="row">
    <div class="col-md-12">
      <p class="herotext">Welcome, I’m Mark. <br>Your trusted friend to save all the<br> 
      movies & books you want to see & read.</p>
      <button class="sign-up-btn" ng-click="signUpSection=!signUpSection"> Sign Up</button>
      <form ng-show="signUpSection">
        <input type="text" placeholder="First name">
        <input type="text" placeholder="Last name">
        <input type="text" placeholder="Email">
        <input type="password" placeholder="Password">
        <button>Login</button>
        <button>Facebook</button>
      </form>
    </div>
  </div> <!-- end of row -->

</div> <!-- End of Container -->