<div class="container">

 <nav> 
  <div class="row"> 
      <div class='col-md-11'>
        <h1 class="logo">Mark</h1>  
      </div>
      <div class='col-md-1 login-menu'>
        <h1 class="login-btn"ng-click="open()">Login</h1>    
      </div>
  </div> <!-- end of row -->
 </nav>   

  <div class="row marketing-panel">
    <div class="col-md-12">
      <p class="top-marketing-text"> Welcome, I’m Mark.</p> 
      <p class="bottom-marketing-text"> Your trusted friend to save all your movies.</p>
    </div>
  </div> <!-- end of row -->

  <div class="row marketing-panel">
    <div class="col-md-12 top-spacing">
      <button class="sign-up-btn" ng-click="signUpSection=!signUpSection"> Sign Up</button>
      <form class="sign-up-form"ng-show="signUpSection">
        <input class="sign-up-input" type="text" placeholder="First name">
        <input class="sign-up-input" type="text" placeholder="Last name">
        <input class="sign-up-input" type="text" placeholder="Email">
        <input class="sign-up-input" type="password" placeholder="Password">
        <button class="login-sign-up-btn">Login</button>
      </form>
    </div>
  </div> <!-- end of row -->


</div> <!-- End of Container -->


