<div class="container">

  <nav class="navbar-fixed-top"> 
    <div class="row"> 
        <div class='col-md-6'>
          <h1 class="logo">Mark</h1>  
        </div>
        <div class='col-md-3'>
          <input type="text" class="search-bar" placeholder="Email">  
        </div>
        <div class='col-md-2'>
          <input type="password" class="search-bar" placeholder="Password"> 
        </div>
        <div class='col-md-1 login-menu'>
          <h1 class="login-btn">Login</h1>    
        </div>
    </div> <!-- end of row -->
  </nav>   

  <div class="test1">
    <div class="row marketing-panel">
      <div class="col-md-12">
        <p class="top-marketing-text"> Welcome, I’m Mark.</p> 
        <p class="bottom-marketing-text"> Your trusted friend to save all your movies.</p>
      </div>
    </div> <!-- end of row -->

    <div class="row marketing-panel">
      <div class="col-md-12 top-spacing">
        <button class="sign-up-btn" ng-click="signUpSection=!signUpSection"> Sign Up</button>
        <form class="sign-up-form"ng-show="signUpSection">
          <input class="sign-up-input" type="text" placeholder="First name">
          <input class="sign-up-input" type="text" placeholder="Last name">
          <input class="sign-up-input" type="text" placeholder="Email">
          <input class="sign-up-input" type="password" placeholder="Password">
          <button class="login-sign-up-btn">Login</button>
        </form>
      </div>
    </div> <!-- end of row -->

    <div class="row learn-more-text">
      <div class="col-md-12">
        <h4>Learn More</h4>
      </div>
    </div> <!-- end of row -->
  </div>  

   <div class="row test3">
    <div class="col-md-12 top-spacing">
      <h3>Making it Dead Simple to Save Movies</h3>
      <p>Let Mark help you stay organized by allowing you to track the movies<br> you want to see, have seen, and recommend.</p>
      <div ng-controller="signupCtrl">
        <div>
          <carousel interval="myInterval">
            <slide ng-repeat="slide in slides" active="slide.active">
              <img ng-src="{{slide.image}}" style="margin:auto;">
            </slide>
          </carousel>
        </div>
      </div>
      <a href="#"><h3 class="demo">Demo<h3></a>
    </div>
  </div> <!-- end of row -->

   <div class="row button-singup">
      <div class="col-md-12">
        <h4>Sign Up Now</h4>
        <form class="sign-up-form">
          <input class="sign-up-input" type="text" placeholder="First name">
          <input class="sign-up-input" type="text" placeholder="Last name">
          <input class="sign-up-input" type="text" placeholder="Email">
          <input class="sign-up-input" type="password" placeholder="Password">
          <button class="login-sign-up-btn">Login</button>
        </form>
      </div>
    </div> <!-- end of row -->
  </div> 
  <hr> 




</div> <!-- End of Container -->


